*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

/*HEADER*/

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    height: 300px;
    justify-content: space-between;
    width: 900px;
}